service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow get, read: if true;
     allow create, update, delete: if request.auth != null;
    }
  }
}