@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?6450604');
  src: url('../font/fontello.eot?6450604#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?6450604') format('woff2'),
       url('../font/fontello.woff?6450604') format('woff'),
       url('../font/fontello.ttf?6450604') format('truetype'),
       url('../font/fontello.svg?6450604#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6450604#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e804'; } /* '' */
.icon-th-list:before { content: '\e805'; } /* '' */
.icon-videocam:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-comment:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-pin:before { content: '\e80b'; } /* '' */
.icon-doc:before { content: '\e80c'; } /* '' */
.icon-book:before { content: '\e80d'; } /* '' */
.icon-zoom-in:before { content: '\e80e'; } /* '' */
.icon-zoom-out:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-up-open:before { content: '\e813'; } /* '' */
.icon-down-big:before { content: '\e814'; } /* '' */
.icon-left-big:before { content: '\e815'; } /* '' */
.icon-right-big:before { content: '\e816'; } /* '' */
.icon-up-big:before { content: '\e817'; } /* '' */
.icon-attach:before { content: '\e818'; } /* '' */
.icon-help-circled:before { content: '\e819'; } /* '' */
.icon-picture:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e81b'; } /* '' */
.icon-edit:before { content: '\e81d'; } /* '' */
.icon-tag:before { content: '\e81f'; } /* '' */
.icon-logout:before { content: '\e820'; } /* '' */
.icon-share-1:before { content: '\e821'; } /* '' */
.icon-attach-1:before { content: '\e822'; } /* '' */
.icon-star:before { content: '\e823'; } /* '' */
.icon-book-1:before { content: '\e824'; } /* '' */
.icon-pencil:before { content: '\e825'; } /* '' */
.icon-edit-1:before { content: '\e826'; } /* '' */
.icon-cog:before { content: '\e827'; } /* '' */
.icon-chat:before { content: '\e828'; } /* '' */
.icon-lock-1:before { content: '\e829'; } /* '' */
.icon-camera:before { content: '\e82a'; } /* '' */
.icon-calendar:before { content: '\e82b'; } /* '' */
.icon-basket:before { content: '\e82c'; } /* '' */
.icon-folder:before { content: '\e82d'; } /* '' */
.icon-flag:before { content: '\e82e'; } /* '' */
.icon-attention:before { content: '\e82f'; } /* '' */
.icon-block:before { content: '\e830'; } /* '' */
.icon-ok:before { content: '\e831'; } /* '' */
.icon-cancel-1:before { content: '\e832'; } /* '' */
.icon-cancel-circled:before { content: '\e833'; } /* '' */
.icon-ok-circled:before { content: '\e834'; } /* '' */
.icon-home-1:before { content: '\e835'; } /* '' */
.icon-heart-empty-1:before { content: '\e836'; } /* '' */
.icon-star-empty:before { content: '\e837'; } /* '' */
.icon-thumbs-up:before { content: '\e838'; } /* '' */
.icon-thumbs-down:before { content: '\e839'; } /* '' */
.icon-right-hand:before { content: '\e83a'; } /* '' */
.icon-left-hand:before { content: '\e83b'; } /* '' */
.icon-up-hand:before { content: '\e83c'; } /* '' */
.icon-down-hand:before { content: '\e83d'; } /* '' */
.icon-doc-1:before { content: '\e83e'; } /* '' */
.icon-trash-empty:before { content: '\e83f'; } /* '' */
.icon-bell:before { content: '\e840'; } /* '' */
.icon-comment-empty-1:before { content: '\e841'; } /* '' */
.icon-qrcode:before { content: '\e842'; } /* '' */
.icon-compass:before { content: '\e843'; } /* '' */
.icon-cw:before { content: '\e844'; } /* '' */
.icon-ccw:before { content: '\e845'; } /* '' */
.icon-arrows-cw:before { content: '\e846'; } /* '' */
.icon-phone-outline:before { content: '\e847'; } /* '' */
.icon-mail-2:before { content: '\e848'; } /* '' */
.icon-arr-bottom:before { content: '\e84d'; } /* '' */
.icon-arr-left:before { content: '\e84e'; } /* '' */
.icon-arr-right:before { content: '\e84f'; } /* '' */
.icon-arr-top:before { content: '\e850'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
