
.icon-resize-full:before { content: '\e800'; } /* '' */
.icon-resize-small:before { content: '\e801'; } /* '' */
.icon-resize-vertical:before { content: '\e802'; } /* '' */
.icon-resize-horizontal:before { content: '\e803'; } /* '' */
.icon-zoom-in:before { content: '\e804'; } /* '' */
.icon-zoom-out:before { content: '\e805'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-up-dir:before { content: '\e807'; } /* '' */
.icon-left-dir:before { content: '\e808'; } /* '' */
.icon-right-dir:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-arrows-cw:before { content: '\e80e'; } /* '' */
.icon-cw:before { content: '\e80f'; } /* '' */
.icon-book:before { content: '\e810'; } /* '' */
.icon-download:before { content: '\e811'; } /* '' */
.icon-megaphone:before { content: '\e812'; } /* '' */
.icon-attach:before { content: '\e813'; } /* '' */
.icon-link:before { content: '\e814'; } /* '' */
.icon-share:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-folder:before { content: '\e818'; } /* '' */
.icon-folder-open:before { content: '\e819'; } /* '' */
.icon-comment:before { content: '\e81a'; } /* '' */
.icon-bookmark:before { content: '\e81b'; } /* '' */
.icon-download-1:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-pencil:before { content: '\e81f'; } /* '' */
.icon-cancel-circled:before { content: '\e820'; } /* '' */
.icon-ok-circled:before { content: '\e821'; } /* '' */
.icon-search-1:before { content: '\e822'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share-1:before { content: '\f1e0'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
