$primary: #ffe618;
$secondary: #232335;
$third: #0202c6;
$dummy: #999999;
$gray-1: #171717;
$gray-2: #555555;
$gray-3: #e7e7e7;
$white: #ffffff;
$error: #890707;

// padding
$padding-x: 16px;

// shadow
$shadow-small: 2px 4px 10px
  rgba(
    $color: $gray-1,
    $alpha: 0.2,
  );

// breakpoints
$breakpoint-sm: 575.55px;
$breakpoint-md: 767.55px;
$breakpoint-lg: 1023.55px;
$breakpoint-xl: 1439.55px;
$breakpoint-xxl: 2559.55px;

// container
$container-sm: 360px;
$container-md: 732px;
$container-lg: 1320px;
$container-xl: 1440px;
$container-xxl: 1920px;

// gnb
// $gnb-height-sm: 58px;
// $gnb-height-md: 58px;
// $gnb-height-lg: 153px;
// $gnb-height-xl: 153px;
// #main {
//   padding-top: $gnb-height-sm;
//   @media (min-width: $breakpoint-sm) {
//     padding-top: $gnb-height-sm;
//   }
//   @media (min-width: $breakpoint-md) {
//     padding-top: $gnb-height-md;
//   }
//   @media (min-width: $breakpoint-lg) {
//     padding-top: $gnb-height-lg;
//   }
//   @media (min-width: $breakpoint-xl) {
//     padding-top: $gnb-height-xl;
//   }
// }

$theme-colors: (
  // colors
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "white": $white,
  "black": #000000,
  "dummy": $dummy,
  "error": $error
);
// Create your own map
$custom-colors: ();

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$grid-breakpoints: (
  xs: 0,
  // sm: 576px,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
) !default;

$container-max-widths: (
  sm: 540px,
  md: $container-md,
  lg: $container-lg,
  xl: $container-xl,
) !default;

ul,
ol {
  margin: 0;
  padding: 0;
}
.list-style-disc {
  list-style-type: disc;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

// transition
$default-ease: cubic-bezier(0.785, 0.135, 0.15, 0.86);

.btn {
  border-radius: 0;
}
